@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">It's working!</h1>
    <p>Go to <a target="_blank" href="http://live-test.ravendb.net/studio/index.html#databases/documents?&database=Raven.StructuredLog.Sample">live-test.ravendb.net</a> to see some structured logs created by this app.</p>
</div>
